Repository DefinetlyNotAI/Logicytics, pull requests merged in 2024-09, with the labels that each got.

#51 Create AIP_Maker.yml bot
  .github/workflows/AIP_Maker.yml
Labels: Request (Normal), size/S

#53 Delete IMG/ClickMe.jpg
  IMG/ClickMe.jpg
Labels: size/XS

#99 Website Design For Logicytics
  Logicytics/index.html
  Logicytics/install.html
  Logicytics/styles.css
  Logicytics/wiki.html
  Logicytics/wiki1.html
  Logicytics/wiki2.html
  Logicytics/wiki3.html
  Logicytics/wiki4.html
Labels: Request (Normal), size/XL

#108 #106 Purge index security Patch
  Logicytics/index.html
  Logicytics/install.html
  Logicytics/styles.css
  Logicytics/wiki.html
  Logicytics/wiki1.html
  Logicytics/wiki2.html
  Logicytics/wiki3.html
  Logicytics/wiki4.html
Labels: bug:High, dispute:WIP, size/XL

#110 Update codefactor due to merge conflict
  .github/workflows/codeql.yml
  .github/workflows/powershell.yml
  .github/workflows/scorecard.yml
  CODE/Logicytics.py
  CONTRIBUTING.md
  DCO.md
  README.md
  WEB/install.html
  WEB/wiki2.html
  WEB/wiki4.html
  index.html
Labels: type:Documentation, request:Important, bug:High, size/M, type:Code, type:System

#111 Codefactor vuln fixes
  .github/workflows/powershell.yml
  CODE/Logicytics.py
  CODE/__lib_class.py
  CODE/__lib_log.py
  CODE/_debug.py
  CODE/_dev.py
  CODE/_extra.py
  CODE/driverquery+sysinfo.py
  CODE/log_miner.py
  CODE/media_backup.py
  CODE/online_ip_scraper.py
  CODE/registry.py
  CODE/sensitive_data_miner.py
  CODE/ssh_miner.py
  CODE/sys_internal.py
  CODE/tasklist.py
  CODE/todo
  CODE/wifi_stealer.py
  CODE/wmic.py
  CONTRIBUTING.md
  MODS/_MOD_SKELETON.py
  README.md
  TESTS/TESTS.md
  WEB/install.html
  WEB/styles.css
  WEB/wiki2.html
  WEB/wiki4.html
Labels: type:Documentation, request:Important, bug:High, dependencies, size/L, type:Code, type:System
