Repository DefinetlyNotAI/Logicytics, pull requests merged in 2024-12, with the labels that each got.

#146 Breaking change v3
  .dockerfile
  .github/CODEOWNERS
  .github/workflows/docker-image.yml
  .idea/Logicytics.iml
  .idea/csv-editor.xml
  .idea/webResources.xml
  CODE/Logicytics.py
  CODE/VulnScan/Vectorizer .3n3.pkl
  CODE/VulnScan/todo.txt
  CODE/VulnScan/tools/_test_gpu_acceleration.py
  CODE/VulnScan/tools/_vectorizer.py
  CODE/VulnScan/v2-deprecated/_generate_data.py
  CODE/VulnScan/v2-deprecated/_train.py
  CODE/VulnScan/v3/_generate_data.py
  CODE/VulnScan/v3/_train.py
  CODE/_debug.py
  CODE/_dev.py
  CODE/_extra.py
  CODE/cmd_commands.py
  CODE/config.ini
  CODE/config.json
  CODE/dir_list.py
  CODE/event_log.py
  CODE/log_miner.py
  CODE/logicytics/Checks.py
  CODE/logicytics/Execute.py
  CODE/logicytics/FileManagement.py
  CODE/logicytics/Flag.py
  CODE/logicytics/Get.py
  CODE/logicytics/Logger.py
  CODE/logicytics/__init__.py
  CODE/logicytics/__lib_class.py
  CODE/logicytics/__lib_log.py
  CODE/media_backup.py
  CODE/packet_sniffer.py
  CODE/registry.py
  CODE/sensitive_data_miner.py
  CODE/ssh_miner.py
  CODE/sys_internal.py
  CODE/tasklist.py
  CODE/vulnscan.py
  CODE/wifi_stealer.py
  CODE/wmic.py
  PLANS.md
  README.md
  SECURITY.md
  requirements.txt
Labels: bug/Low, request/Important, type/Dependencies, size/XXL, type/Code, type/System

#159 Update requirements.txt
  requirements.txt
Labels: bug/Medium, size/XS

#160 Bluetooth details
  .github/CODEOWNERS
  .idea/Logicytics.iml
  .idea/csv-editor.xml
  CODE/Logicytics.py
  CODE/_dev.py
  CODE/bluetooth_details.py
  CODE/bluetooth_logger.py
  CODE/config.ini
  CODE/packet_sniffer.py
  README.md
  requirements.txt
Labels: bug/Low, request/Minor, size/L, type/Code, type/Development

#166 Optimised _debug.py
  CODE/_debug.py
  CODE/logicytics/Checks.py
Labels: bug/High, request/Minor, size/L, type/System, type/Development

#171 Quick fix
  .github/workflows/cflite_batch.yml
  .github/workflows/cflite_build.yml
  .github/workflows/cflite_cron.yml
Labels: bug/High, size/L
